    <%- include("partials/header") %>

        <body class="deckview">

            <!-- navbar -->

            <body class="cards_body">

                <!-- info bar -->
                <section class="tooltip-container">
                    <section class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="50">
                            <path
                                d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 22c-5.518 0-10-4.482-10-10s4.482-10 10-10 10 4.482 10 10-4.482 10-10 10zm-1-16h2v6h-2zm0 8h2v2h-2z">
                            </path>
                        </svg>
                    </section>
                    <section class="tooltip">
                        <p>Bekijk de inhoud van je geselecteerde deck. Je ziet het aantal kaarten, mana en landkaarten in
                            een
                            deck.</p>
                        <p>Wil je de kaarten zien van een andere deck? klik dan op een naar keuze. Klik op export om een
                            JSON bestand te verkrijgen</p>

                    </section>
                </section>

                <main class="deckview-main">
                    <!-- deck overzicht -->
                    <section class="deck-overview">
                        <!-- <img src="assets/images/deckview.png" alt="Deck Monsters" class="deck-banner"> -->
    <!-- 
                        <section class="deck-info">
                            <h2>
                                <%= deck.name %>
                            </h2>
                            <span> <img src="/assets/icon/mana icon.png" alt="mana">mana: 0</span>
                            <span> <img src="/assets/icon/cards icon.png" alt="cards">kaarten: 7/60</span>
                            <span> <img src="assets/icon/tree icon.png" alt="landcards">landkaarten: 0</span>
                            <button class="export-btn"><img src="assets/icon/export .png" alt="icon"></button>
                        </section> -->

                        <section class="deck-info">
                            <h2>
                                <%= deck.name %>
                            </h2>
                            <span> <img src="/assets/icon/mana icon.png" alt="mana">mana: <%= mana %></span>
                            <span> <img src="/assets/icon/cards icon.png" alt="cards">kaarten: <%= aantalKaarten %>/60</span>
                            <span> <img src="assets/icon/tree icon.png" alt="landcards">landkaarten: <%= aantalLandkaarten %></span>
                            <button class="export-btn"><img src="assets/icon/export .png" alt="icon"></button>
                        </section>
                    </section>

                    <section class="deck-containter">
                        <!-- deck lijst -->
                        <section class="deck-list">

                            <% kaartenInDeck.forEach(card => { %>
                                <section class="card_<%= (card.rarity || 'default').toLowerCase() %>">
                                    <img src="<%= card.imageUrl %>" alt="<%= card.name %>">
                                    <span>x<%= card.count %></span>
                                </section>
                            <% }) %>
                            <!-- <ul>
                            <li class="deck-items">
                                <img src="/assets/images/Magic_card_back 19.png" alt="magic card">
                                deck 1
                            </li>
                            <li class="deck-items">
                                <img src="/assets/images/Magic_card_back 19.png" alt="magic card">
                                deck 2
                            </li>
                            <li class="deck-items">
                                <img src="/assets/images/Magic_card_back 19.png" alt="magic card">
                                deck 3
                            </li>
                        </ul> -->
                        </section>

                        <!-- kaarten overzicht -->
                        <section class="card-display">
                            <!-- <section class="card_uncommon">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x1</span>
                            </section>
                            <section class="card_mythic">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x3</span>
                            </section>
                            <section class="card_rare">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x2</span>
                            </section>
                            <section class="card_uncommon">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x1</span>
                            </section>
                            <section class="card_common">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x3</span>
                            </section>
                            <section class="card_rare">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x2</span>
                            </section>
                            <section class="card_special">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x1</span>
                            </section>
                            <section class="card_uncommon">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x3</span>
                            </section>
                            <section class="card_uncommon">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x3</span>
                            </section>
                            <section class="card_uncommon">
                                <img src="/assets/images/cardExample.jpg" alt="Card">
                                <span>x3</span> -->
                            </section>
                        </section>
                </main>
            </body>

            <%- include("partials/footer") %>