<%- include("partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="profilebody">
    <main class="user-container">
    <h1>Accountinstellingen</h1>
    <p class="welcome-msg">Welkom, <%= user.username %></p>

    <% if (message) { %>
        <section class="notification <%= message.type %>">
            <%= message.message %>
        </section>
    <% } %>

    <form method="POST" action="/user/update-profile" class="form-box">
        <h2>Profiel bijwerken</h2>

        <label for="username">Nieuwe gebruikersnaam</label>
        <input type="text" name="username" id="username" placeholder="Bijv. MagicMaster99">

        <label for="email">Nieuw e-mailadres</label>
        <input type="email" name="email" id="email" placeholder="bijv. jij@email.com">

        <label for="password">Nieuw wachtwoord</label>
        <input type="password" name="password" id="password" placeholder="Nieuw wachtwoord">

        <button type="submit" class="primary-btn">Wijzig gegevens</button>
    </form>

    <form method="POST" action="/user/delete-password" class="form-box danger-box">
        <h2>Alleen wachtwoord verwijderen</h2>
        <button type="submit" class="danger-btn">Verwijder wachtwoord</button>
    </form>

    <form method="POST" action="/user/delete-account" class="form-box danger-box">
        <h2>Account verwijderen</h2>
        <button type="submit" class="danger-btn">Verwijder account</button>
    </form>
</main>
    
</body>
</html>

<%- include("partials/footer") %>
